# Energy Supply and Renewable Electricity Production

------------------------------------------------------------------------------------------------------

## Objectives:
    
    - Data Cleaning
    - Data Tarnsformation
    - Merge Different dataSources 
    - EDA

-------------------------------------------------

Used Packages & Libraries
---
    - Pandas
    - Numpy

-------------------------------------------------

Datasets:
-------
    * Energy Indicators.xls
    * scimagojr-3.xlsx
    * world_bank.csv
    
*To download the datasets make sure to check the datasets folder in the repository*

--------------------------------------

## Some of Answered Questions in this Project:

    * What is the Average `GDP` over the last 10 years for each country?
    
    * What is the mean of `Energy Supply per Capita`?
    
    * What country has the maximum `% Renewable`? And what is the percentage?
    
    * What are the `ratios of Self-Citations to Total-Citations`? And what is the maximum value?
    
    * Which `country` has the maximum ratio?
    
    * What is the `distribution of my % Renewable column`? 
    
    * What is the `size, Sum, meanand the STD` for the estimated population for each country?

-------------------------------------------

In [1]:
## import needed libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Load Data from Excel file without header & footer

In [2]:
## loading the data of energy 

energy = pd.read_excel("Energy Indicators.xls" , header=17 , skipfooter=38)
energy

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
...,...,...,...,...,...,...
222,NaN,Viet Nam,Viet Nam,2554,28,45.321520
223,NaN,Wallis and Futuna Islands,Wallis and Futuna Islands,0,26,0.000000
224,NaN,Yemen,Yemen,344,13,0.000000
225,NaN,Zambia,Zambia,400,26,99.714670
226,NaN,Zimbabwe,Zimbabwe,480,32,52.536120

In [3]:
energy.drop(['Unnamed: 0' , 'Unnamed: 1'] , axis = 1 , inplace = True)

In [4]:
energy.head()

       Unnamed: 2 Petajoules Gigajoules           %
0     Afghanistan        321         10   78.669280
1         Albania        102         35  100.000000
2         Algeria       1959         51    0.551010
3  American Samoa        ...        ...    0.641026
4         Andorra          9        121   88.695650

In [5]:
## change column labels
energy.rename(columns = {'Unnamed: 2':'Country' , 'Petajoules':'Energy Supply' , 'Gigajoules':'Energy Supply per Capita' , '%':'% Renewable'} , inplace = True)
energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0     Afghanistan           321                       10    78.669280
1         Albania           102                       35   100.000000
2         Algeria          1959                       51     0.551010
3  American Samoa           ...                      ...     0.641026
4         Andorra             9                      121    88.695650

In [6]:
### change missing value to null
energy = energy.replace('...' , np.nan)

In [7]:
## convert energy supply to petajoule
energy['Energy Supply'] = energy['Energy Supply']*1000000
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [8]:
# replacing the list of countries in 'Country' column
#energy.replace({'Country' : {"Republic of Korea": "South Korea" ,
#                            "United States of America": "United States",
#                            "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
#                            "China, Hong Kong Special Administrative Region": "Hong Kong"}} , inplace = True)

In [9]:
### replacing the list of countries in 'Country' column
def rename_countries(energy):
    for i in energy['Country']:
        if i == 'Republic of Korea':
             energy['Country'] = energy['Country'].replace(i,'South Korea')
        elif i == 'United States of America' :
             energy['Country'] = energy['Country'].replace(i,'United States')
        elif i == 'United Kingdom of Great Britain and Northern Ireland':
             energy['Country'] = energy['Country'].replace(i,'United Kingdom')
        elif i == 'China, Hong Kong Special Administrative Region':
             energy['Country'] = energy['Country'].replace(i,'Hong Kong')
        else:
             energy['Country'] = energy['Country'].replace(i,i)

In [10]:
## apply function
rename_countries(energy)

In [11]:
## ex:-
energy[energy['Country'] == 'South Korea']

         Country  Energy Supply  Energy Supply per Capita  % Renewable
164  South Korea   1.100700e+10                     221.0     2.279353

In [12]:
energy.sample(10)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
61,Dominican Republic,3.390000e+08,33.0,11.250600
212,Ukraine18,4.844000e+09,107.0,8.067312
176,Sao Tome and Principe,3.000000e+06,14.0,10.447760
115,Lebanon,2.890000e+08,55.0,6.610478
29,British Virgin Islands,2.000000e+06,85.0,0.000000
213,United Arab Emirates,2.710000e+09,300.0,0.000000
87,Guatemala,4.520000e+08,29.0,49.521680
185,Slovenia,2.870000e+08,139.0,31.864240
147,Niger,8.700000e+07,5.0,0.000000
82,Greece,9.930000e+08,90.0,24.795280

In [13]:
energy['Country'] = energy['Country'].str.replace('\d+' , '')

<ipython-input-13-72b22e9039f4>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  energy['Country'] = energy['Country'].str.replace('\d+' , '')

In [14]:
energy[energy['Country'] == 'Switzerland']

         Country  Energy Supply  Energy Supply per Capita  % Renewable
197  Switzerland   1.113000e+09                     136.0     57.74548

## step 1

    loading the second dataset of GDP data, which containing countries' GDP from 1960 to 2015 from World Bank.

In [15]:
GDP = pd.read_csv('world_bank.csv' , header = 4)

In [16]:
GDP.shape

(264, 60)

In [17]:
GDP.sample(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
10,Antigua and Barbuda,ATG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.268714e+09,1.389229e+09,1.390217e+09,1.222890e+09,1.135539e+09,1.115174e+09,1.159999e+09,1.155982e+09,1.211723e+09,1.256122e+09
167,Malaysia,MYS,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.149047e+10,1.236352e+10,1.315739e+10,1.412298e+10,1.487983e+10,1.602332e+10,...,2.163030e+11,2.299275e+11,2.410371e+11,2.373885e+11,2.550169e+11,2.685170e+11,2.832141e+11,2.965633e+11,3.143352e+11,3.299022e+11
26,Bolivia,BOL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.818838e+09,4.919069e+09,5.193073e+09,5.526504e+09,5.791476e+09,6.117247e+09,...,1.644957e+10,1.720040e+10,1.825796e+10,1.887088e+10,1.964963e+10,2.067222e+10,2.173110e+10,2.320795e+10,2.447524e+10,2.544488e+10
153,Marshall Islands,MHL,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.583316e+08,1.642478e+08,1.611440e+08,1.573378e+08,1.638031e+08,1.640533e+08,1.686701e+08,1.726204e+08,1.709438e+08,NaN
204,Senegal,SEN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.459917e+09,3.563488e+09,3.558633e+09,3.624983e+09,3.765775e+09,3.815942e+09,...,1.113935e+10,1.168946e+10,1.211993e+10,1.241362e+10,1.293243e+10,1.316018e+10,1.374070e+10,1.421960e+10,1.483261e+10,1.579453e+10

In [18]:
## rename country name
GDP.replace({'Country Name' : {"Korea, Rep.": "South Korea" ,
                            "Iran, Islamic Rep.": "Iran",
                            "Hong Kong SAR, China": "Hong Kong"}} , inplace = True)

In [19]:
## Ex:-
GDP[GDP['Country Name'] == 'Iran']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
109,Iran,IRN,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.500820e+10,6.072406e+10,6.552689e+10,7.014134e+10,7.608598e+10,8.904776e+10,...,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN

## Step 2 

    load the third and the last Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology dataset,            which ranks countries based on their journal contributions in the aforementioned area.

In [20]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

In [21]:
ScimEn.sample(5)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
162,163,Afghanistan,3,3,0,0,0.00,0
58,59,Bulgaria,545,540,6095,989,11.18,38
173,174,Bermuda,2,2,12,0,6.00,1
11,12,Spain,9428,9330,123336,23964,13.08,115
164,165,French Guiana,3,3,1,1,0.33,1

## Step 3
    Merge the 3 datasets into a new dataset

In [22]:
## rename column country name to country for match with other dataframes
GDP.rename(columns = {'Country Name':'Country' } , inplace = True)
GDP.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [23]:
full_df = pd.merge(ScimEn ,pd.merge(energy ,GDP ,how = 'left', on = 'Country') ,  how = 'left', on = 'Country')

In [24]:
full_df = full_df.set_index('Country')

In [25]:
full_df.columns

Index(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', 'Country Code',
       'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [26]:
full_df.shape

(191, 69)

In [27]:
required_df = full_df[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

In [28]:
required_df = required_df.iloc[:15]
required_df.shape

(15, 20)

In [29]:
## head of data
required_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

## Step 4 (Number of rows that lost in step 3)

In [30]:
## number of lost entries
len(full_df) - len(required_df)

176

## Step 5 (What is the Average GDP over the last 10 years for each country?)

In [31]:
required_df.iloc[: , 10:].mean(axis = 1).sort_values

<bound method Series.sort_values of Country
China                 6.348609e+12
United States                  NaN
Japan                 5.542208e+12
United Kingdom                 NaN
Russian Federation    1.565459e+12
Canada                1.660647e+12
Germany               3.493025e+12
India                 1.769297e+12
France                2.681725e+12
South Korea           1.106715e+12
Italy                 2.120175e+12
Spain                 1.418078e+12
Iran                           NaN
Australia             1.164043e+12
Brazil                2.189794e+12
dtype: float64>

## step 6 (What is the mean of Energy Supply per Capita?)

In [32]:
required_df['Energy Supply per Capita'].mean()

152.91666666666666

## Step 7 (What country has the maximum % Reneweble? And what is the percentage?)

In [33]:
(required_df['% Renewable'].idxmax(), required_df['% Renewable'].max())

('Brazil', 69.64803)

## Step 8 (What are the ratios of Self-Citations to Total-Citations?)

In [34]:
required_df['citations ratio %'] =  round((required_df['Self-citations'] / required_df['Citations'])*100,2)

In [35]:
required_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,citations ratio %
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,68.93
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.50
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,27.60
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.38
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,36.25

In [36]:
(required_df['citations ratio %'].idxmax(), required_df['citations ratio %'].max())

('China', 68.93)

## Step 9 (What is the distribution of my % Reneweble column? (through knowing how many values are above or below the median))

In [37]:
required_df.loc[required_df['% Renewable'] >= required_df['% Renewable'].median() , 'Renewable Segmentation'] = "1"
required_df.loc[required_df['% Renewable'] < required_df['% Renewable'].median() , 'Renewable Segmentation'] = "0"

In [38]:
required_df['Renewable Segmentation']

Country
China                   1
United States         NaN
Japan                   0
United Kingdom        NaN
Russian Federation      0
Canada                  1
Germany                 1
India                   0
France                  0
South Korea             0
Italy                   1
Spain                   1
Iran                  NaN
Australia               0
Brazil                  1
Name: Renewable Segmentation, dtype: object

## Step 10
Using the following dictionary to group the Countries by Continent, Then creating a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

In [39]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [40]:
## to assign each country with its Continent
required_df['Continent'] = pd.Series(ContinentDict)

In [41]:
required_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2009,2010,2011,2012,2013,2014,2015,citations ratio %,Renewable Segmentation,Continent
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,68.93,1,Asia
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.50,NaN,North America
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,27.60,0,Asia
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.38,NaN,Europe
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,36.25,0,Europe

In [42]:
## calculate population from Energy Supply & Energy Supply per Capita

required_df['Population'] = required_df['Energy Supply'] / required_df['Energy Supply per Capita']

In [43]:
required_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2010,2011,2012,2013,2014,2015,citations ratio %,Renewable Segmentation,Continent,Population
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,68.93,1,Asia,1.367645e+09
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,33.50,NaN,North America,NaN
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,27.60,0,Asia,1.274094e+08
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.38,NaN,Europe,NaN
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,36.25,0,Europe,1.435000e+08

### What is the size, Sum, meanand the STD for the estimated population for each country?

In [44]:
Continent_stat = required_df.groupby('Continent')['Population'].agg([np.size , np.sum , np.mean , np.std])

In [45]:
Continent_stat

               size           sum          mean           std
Continent
Asia            5.0  2.821591e+09  7.053977e+08  7.138779e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  3.940587e+08  7.881174e+07  3.813228e+07
North America   2.0  3.523986e+07  3.523986e+07           NaN
South America   1.0  2.059153e+08  2.059153e+08           NaN